*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #202020;
}

#container{
  width: 85%;
  margin: 0px auto;
  
  background: #303030;
}

header{
  font-family: Baskerville;
  display: flex;
  align-items: column;
  justify-content: center;
  line-height: 100px;
  color: white;
  padding: 2rem;
  border-bottom: 5px solid black;
}

nav{
  background: white;
  display: flex;
  justify-content:initial;
  height: 50px;
  align-items: center;
  border-bottom: 2px solid blueviolet;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  justify-content: center;
  list-style: none;
  margin: 10px;
  
}

.clearfix{
  clear: both;
}

#content{
  float: left;
  width: 80%;
  min-height: 500px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  box-sizing: border-box;
}

aside{

  float: left;
  width: 20%;
  min-height: 500px;
  align-items:stretch;
  background: #303030;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 1px solid yellow;
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
}

aside h2{
  margin-top: 15px;
  color: white;
  font-size:20px;
  font-family: Georgia, serif;
  border-bottom: 3.5px solid #101010;
  padding-bottom: 12px;
  
}

footer{
  background: #101010;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  line-height: 50px;
  border: 3px solid brown;
}

.article{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
  
}

.article:first-child{
  /*border-top: 1px solid #eee;*/
}

.article h2{
  color: white;
  font-size:25px;
  font-family: Georgia, serif;
}

h1 {  
  font-size: 3rem;
  font-weight: 150;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #999999;
}


img {
  align-items: center;
  width: 90px;
  transition-duration: 1s;
  transition-timing-function: ease;
}

img:hover {
  scale: 1.2;
}

hr{
  border-color: black;
  height: 2px;
  background-color: black;
}

section{
  border: 1px solid green;
}




/*
p {
    color: #666;
}*/




